*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --forecastColor: linear-gradient(5deg, #1c1b33, #2e335a);
  --forecastLabelColor: inset
    linear-gradient(to right, rgba(0, 0, 255, 0.2), transparent);
  --forecastLabelColor1: rgba(72, 49, 157, 0.864);
}
.weather-details {
  background: var(--lineargradient2);
  color: #fff;
  padding-bottom: 0.5rem;
}
.time-location {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

.temp-and-details {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  padding: 1.5rem 0.4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top: 5px solid rebeccapurple;
  border-bottom: 0px solid transparent;
  box-shadow: -2px -16px 50px rgba(142, 66, 219, 0.368);
  margin-top: 2.5rem;
  margin-left: -0.1rem;
  margin-right: -0.1rem;
  /* border: 1px solid red; */
}
.county_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.weather-img {
  width: 50%;
  margin: 0.59rem auto;
  display: block;
  height: auto;
}
.city-name {
  font-weight: 700;
}
.high-low {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: auto;
  gap: 0.5rem;
  opacity: 100%;
  font-size: 0.9rem !important;
  border: 1px solid rebeccapurple;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  background: #07062f4e;
}

.weather-desc {
  opacity: 60%;
  font-size: 0.9rem !important;
  padding: 0.9rem 0.4rem;
}
.temp {
  font-size: 2rem;
  font-weight: 700;
}
.weather-stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  gap: 0.6rem;
  margin-top: 3rem;
  padding: 0.5rem 1.5rem;
}
.weather-stat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem;
  background: #07062f4e;
  gap: 0.3rem;
  border: 1.7px solid rebeccapurple;
  border-bottom: transparent;
  border-radius: 0.5rem;
}
.cond-img {
  width: 50px;
}
.weather-stat p {
  font-size: 0.6rem;
  text-transform: none;
}
.daily-weekly-img {
  width: 70%;
  margin: auto;
}
.weather-map {
  display: grid;
  gap: 1rem;
  padding: 2.7rem 0;
}
.map {
  background: #fff;
  width: 90%;
  height: 30vh;
  margin: auto;
  padding: 0.7rem 0.8rem;
  border-radius: 0.5rem;
}
/* hourly and weekly forecast */
.forecast-container {
  background: var(--forecastColor);
  width: 98%;
  height: 50vh;
  margin: auto;
  border-radius: 2rem;
  padding: 0.6rem 0;
  border-top: 1px solid rebeccapurple;
  margin-bottom: 3rem;
}
.top-line {
  width: 3rem;
  height: 0.4rem;
  margin: auto;
  background: rgba(98, 95, 121, 0.642);
  border-radius: 0.6rem;
  padding: 0.2rem 0.4rem;
}
/* hourly */
.hourly-forecast-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.6rem;
}

.per-hour {
  font-size: 0.6rem;
  background: var(--forecastLabelColor1);
  display: grid;
  gap: 0.43rem;
  padding: 1rem 0.55rem;
  border-radius: 2rem;
  border: 1px solid #42176d;
  text-transform: uppercase;
}

.bottom-line {
  margin-top: 0.4rem;
  padding: 0.2rem 0;
  width: 100%;
}
.tabs {
  font-family: Arial, sans-serif;
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* gap: 0.1rem; */
  font-size: 0.6rem;
  margin-top: 0.6rem;
}

.tab {
  padding: 10px 2.5rem;
  cursor: pointer;
  border-bottom: 0.3px solid #b0afaf;
  font-weight: 100;
}

.tab.active {
  border-bottom: 4px solid rebeccapurple;
  font-weight: bold;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transform: scale(1.1);
  font-size: 0.65rem;
}

.tab-content {
  margin-top: 30px;
  width: 17rem;
  margin-right: auto;
  overflow: auto;
  white-space: nowrap;
  margin-left: -7rem;
}
.scroll-content {
  width: 450px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.tab-content::-webkit-scrollbar {
  display: none;
}
/* tab-bar */
.tab-bar {
  position: fixed;
  bottom: 2px;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  /* box-shadow: 2px 2px 20px rebeccapurple; */
  border: 3px solid rgba(72, 49, 157, 0.864);
  background: #5936b4;
  margin-left: 0.2rem;
  transition: var(--transition);
}
.tab-item {
  cursor: pointer;
  flex: 1;
}
.tab-item.tab.active {
  background: red;
}
/* 
=============
media queries 
=============
*/
@media screen and (min-width: 375px) {
  .weather-stat {
    padding: 0.6rem;
  }
  .high-low {
    font-size: 0.96rem !important;
  }
  .weather-desc {
    font-size: 1rem !important;
  }
  .weather-stat p {
    font-size: 0.7rem;
  }
  .cond-img {
    width: 60px;
  }
}
@media screen and (min-width: 425px) {
  .weather-stat {
    padding: 0.65rem;
  }
  .tab {
    padding: 10px 3rem;
  }
  .forecast-container {
    width: 95% !important;
  }
}
@media screen and (min-width: 1024px) {
  .weather-img {
    width: 30%;
    margin: 1.5rem 0;
  }
  .temp-and-details {
    padding: 0 5rem;
    padding-top: 2rem;
  }
  .time {
    font-size: 0.98rem;
  }
  .horizontal-details {
    /* border: 1px solid #4a1eda; */
    display: flex;
    gap: 0.89rem;
    align-items: center;
    justify-items: center;
    padding: 0.89rem 15rem;
    margin-top: 0.5rem;
  }
  .deg-img {
    display: grid;
    justify-items: center;
    margin-left: 2rem;
    width: 50%;
    /* margin-left: 0 auto; */
  }
  .high-low {
    width: 40%;
    border: 1px solid rebeccapurple;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    background: #07062f4e;
  }
  .forecast-container {
    width: 65%;
  }
  .scroll-content {
    overflow: visible;
  }
  .tab-content {
    overflow: visible;
  }
  .hourly-forecast-container {
    gap: 1.2rem;
    margin-left: -7rem;
  }
  .per-hour {
    font-size: 0.8rem;
    padding: 1.5rem 0.77rem;
    border-radius: 2.5rem;
  }
  .tab {
    font-size: 0.84rem;
    padding: 12px 5rem;
  }
  .tab.active {
    font-size: 0.94rem;
  }
}
@media screen and (min-width: 1366px) {
  .forecast-container {
    width: 70% !important;
    /* border: 2px solid red; */
    height: 60vh;
  }
}
