*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}
/* global variables */
:root {
  --transition: 0.5s ease-in-out all;
  --borderRadius: 0.3rem;
  --lineargradient1: linear-gradient(45deg, #5936b4, #362a84);
  --lineargradient2: linear-gradient(75deg, #2e335a, #1c1b33);
}

.container {
  max-width: 1800px;
}
.home {
  padding: 0.9rem 1rem;
  background: var(--lineargradient2);
  /* background: url('./assets/Image\ \(1\).png') center/cover no-repeat; */
  display: grid;
  /* gap: 0.4rem; */
  color: white;
  height: 100vh;
  /* width: 100vw; */
}
.home h2 {
  text-align: center;
}
.home-hero {
  background: url('./assets/House\ 4\ 3.png') center/cover no-repeat;
  height: 49vh;
  border-radius: var(--borderRadius);
  box-shadow: -0.4px -0.4px 3px #b6b6b6;
}
.search-method {
  display: grid;
  /* gap: 0.89rem; */
}
.description {
  font-weight: 700;
}
.search-button {
  display: grid;
  gap: 1rem;
  margin-bottom: 0.9rem;
}
.city-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--lineargradient1);
  color: #fff;
  border-radius: 1.4rem;
  padding: 0.08rem 1rem;
  box-shadow: -0.4px -0.4px 1px #b6b6b6;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
}
/* 
============
media Queries
===========
*/

@media screen and (min-width: 375px) {
  .home-hero {
    height: 57vh;
  }
  .home {
    padding: 0.9rem 1.3rem;
  }
  .city-btn {
    padding: 0.4rem 1rem;
  }
}
@media screen and (min-width: 425px) {
  .home-hero {
    background: url('./assets/medium-House\ .png') center/cover no-repeat;
    height: 50vh;
  }
  .home {
    padding: 1.3rem 1.5rem;
  }
  .search-button {
    margin-bottom: 0.6rem;
    /* display: flex;
    justify-content: center; */
  }
  .city-btn {
  }
}
@media screen and (min-width: 768px) {
  .home-hero {
    background: url('./assets/Small-House.png') center/cover no-repeat;
    height: 63vh;
  }
  .home {
    padding: 1.9rem;
  }
  .search-button {
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
  }
  .description {
    font-size: 1.4rem;
    width: 45%;
    margin: auto;
  }
  .city-btn {
    width: 50%;
    margin: auto;
    padding: 0.6rem 1.8rem;
    font-size: 1.3rem;
    border-radius: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .home-hero {
    background: url('./assets/medium-House\ .png') center/cover no-repeat;
    height: 67vh;
  }
  .home {
    grid-template-columns: 49% 1fr;
    align-items: center;
    gap: 1rem;
  }
  .search-method {
    gap: 3rem;
  }
  .search-button {
    align-items: center;
  }
  .city-btn {
    font-size: 0.7rem;
  }
  .city-btn:hover {
    background: #fff;
    color: #222;
    transition: var(--transition);
    transform: scale(1.01);
  }
  .description {
    width: 70%;
  }
}
@media screen and (min-width: 1070px) {
  .home-hero {
    height: 87vh;
    background: url('./assets/medium-House\ .png') center/cover no-repeat;
    border: 1px solid red;
  }
}
